@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald&family=REM:wght@200&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&display=swap");

/* #2d607d */
/* file #fff095 */
/* border #7e8acf */
/* gradient #fcfdfd  #fcfdfd #acc4fe  */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Pixelated MS Sans Serif", "Seogoe UI";
  background-color: white;
}

.header {
  background-color: rgba(125, 159, 228, 255);
  color: white;
}

/* .layout-div {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.tools-div {
  background-color: rgba(125, 159, 228, 255);

  /* border: #6677ce */
  /* width: 100%; */
  /* height: 100%; */
}

/* .canvas-div {
  top: 0;
  left: 0;
} */
canvas {
  display: block;
  background-color: transparent;
  border: #7e8acf 3px solid;
}

#root {
  text-align: left;
}
